<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Value Predictor</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            color: #333;
        }
        h1 {
            margin-top: 25px;
            font-size: 30px;
        }
        form {
            margin-top: 5px;
            display: inline-block;
            text-align: left;
        }
        form > div {
            margin-bottom: 15px;
        }
        button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        button.reset {
            background-color: #dc3545;
        }
        #predictionResult {
            display: block;
            min-width: 200px; /* Set a minimum width */
            margin-top: 20px;
            padding: 10px;
            font-size: 20px;
            background-color: #28a745;
            color: #fff;
            white-space: nowrap; /* Prevent text from wrapping */
        }
        #additionalInfo {
            margin-top: 15px;
            font-size: 12px;
        }

    </style>
        
    <script>
    $(document).ready(function() {

        // Mapping of Spanish color names to English equivalents
        const colorMapping = {
            "Blanco": "White",
            "Negro": "Black",
            "Azul": "Blue",
            "Otro": "Other",
            "Rojo": "Red",
            "Verde": "Green",
            "Gris": "Gray",
            "Amarillo": "Yellow",
            "Marrón": "Brown",
            "Beige": "Beige",
            "Naranja": "Orange"
        };

        // Mapping of Spanish Fuel names to English equivalents
        const FuelMapping = {
            "Gasolina": "Gasoline",           // Adjusted for English display
            "Eléctrico": "Electric",          // Adjusted for English display
            "Diésel": "Diesel",               // Added Diesel in English
            "Híbrido Gasolina": "Petrol Hybrid", // Added Petrol Hybrid in English
            "GNC": "CNG",                     // Added Compressed Natural Gas in English
            "Híbrido Diésel": "Diesel Hybrid", // Added Diesel Hybrid in English
            "Gasolina/Etanol": "Gasoline/Ethanol" // Added Gasoline/Ethanol in English
        };



        // Mapping of Spanish Transmission names to English equivalents
        const TransmissionMapping = {
            "Manual": "Manual",
            "Automática" : "Automatic"
        };
        
        // variable vendedor always set to particular
        var vendedor = 'particular'; 

        // Disable submit button initially
        $('button[type="submit"]').prop('disabled', true);

        // Enable submit button when potencia dropdown is selected
        $('#potencia').change(function() {
                $('button[type="submit"]').prop('disabled', false);
            });
        // Reset all dropdowns and input values
        $('.reset').click(function() {
            resetDropdowns();
            document.getElementById("predictionResult").textContent = "";
            $('#additionalInfo').remove(); // This line removes the <p> element
        });

        // Set max date for matriculacion input to today's date
        var today = new Date();
            var yyyy = today.getFullYear();
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var maxDate = yyyy + '-' + mm;
            $('#matriculacion').attr('max', maxDate); 


        // Initialize all dropdowns as disabled except 'make'
        $('#model, #combustible, #plazas, #cambio, #potencia, #color, #kms, #matriculacion, #consumoMixto, #speed, #altura, #anchura, #autonomia, #carroceria, #cilindrada, #consumoExtraurbano, #consumoUrbano, #deposito, #emisiones, #longitud, #maletero, #marchas, #par, #peso, #puertas, #traccion, #transmision, #velocidad').prop('disabled', true);

        // Fetch and populate the make dropdown
        $.getJSON('/data/makes', function(data) {
            data.forEach(function(make) {
                $('#make').append($('<option>').text(make).attr('value', make));
            });
        });

        // When make is selected
        $('#make').change(function() {
            var make = $(this).val();
            resetDropdowns(); // Function to reset all dropdowns
            $('#model').prop('disabled', false); // Enable model dropdown
            if (make) {
                // Fetch and populate models
                $.getJSON(`/data/models_by_make`, function(data) {
                    data[make].forEach(function(model) {
                        $('#model').append($('<option>').text(model).attr('value', model));
                    });
                });
            }
        });

        // When model is selected
        $('#model').change(function() {
            var make = $('#make').val();
            var model = $(this).val();
            var make_model = make + '_' + model;
            $('#combustible').prop('disabled', false); // Enable combustible dropdown
            if (make && model) {
                // Fetch and populate other attributes
                $.getJSON(`/data/combustible_by_make_model`, function(data) {
                    data[make_model].forEach(function(combustible) {
                        // Translate Spanish color name to English using the mapping for display only
                        const englishcombustible = FuelMapping[combustible];
                        // Keep the actual value in Spanish
                        $('#combustible').append($('<option>').text(englishcombustible).attr('value', combustible));
                    });
                });
            }
        });

        // When combustible is selected
        $('#combustible').change(function() {
            var make = $('#make').val();
            var model = $('#model').val();
            var combustible = $(this).val();
            var make_model_combustible = make + '_' + model + '_' + combustible;

            $('#plazas').prop('disabled', false); // Enable plazas dropdown
            if (make && model && combustible) {
                // Fetch and populate plazas
                $.getJSON(`/data/plazas_by_make_model_combustible`, function(data) {
                    data[make_model_combustible].forEach(function(plaza) {
                        $('#plazas').append($('<option>').text(plaza).attr('value', plaza));
                    });
                });
            }
            $('#cambio').prop('disabled', false); // Enable cambio dropdown
            if (make && model && combustible) {
                // Fetch and populate cambio
                $.getJSON(`/data/cambio_by_make_model_combustible`, function(data) {
                    data[make_model_combustible].forEach(function(cambio) {
                        // Translate Spanish color name to English using the mapping for display only
                        const englishCambio = TransmissionMapping[cambio];
                        // Keep the actual value in Spanish
                        $('#cambio').append($('<option>').text(englishCambio).attr('value', cambio));
                            
                    });
                });
            }
        });

        // When cambio is selected
        $('#cambio').change(function() {
            var make = $('#make').val();
            var model = $('#model').val();
            var combustible = $('#combustible').val();
            var plazas = $('#plazas').val();
            var cambio = $(this).val()
            var make_model_combustible_plazas_cambio = make + '_' + model + '_' + combustible + '_' + plazas + '_' + cambio;

            $('#potencia').prop('disabled', false); // Enable potencia dropdown
            if (make && model && combustible && plazas && cambio) {
                // Fetch and populate potencia
                $.getJSON(`/data/potencia_by_make_model_combustible_plazas_cambio`, function(data) {
                    var sortedPotencias = data[make_model_combustible_plazas_cambio].sort(function(a, b) {
                        return a - b;  // Numeric sort from low to high
                    });
                    sortedPotencias.forEach(function(potencia) {
                        $('#potencia').append($('<option>').text(potencia).attr('value', potencia));
                    });
                });

            }
        }); 

        // When potencia is selected
        $('#potencia').change(function() {
            var make = $('#make').val();
            var model = $('#model').val();
            var combustible = $('#combustible').val();
            var plazas = $('#plazas').val();
            var cambio = $('#cambio').val();
            var potencia = $(this).val();
            var make_model_combustible_plazas_cambio_potencia = make + '_' + model + '_' + combustible + '_' + plazas + '_' + cambio + '_' + potencia;
            $('#color, #kms, #matriculacion, #consumoMixto, #speed, #altura, #anchura, #autonomia, #carroceria, #cilindrada, #consumoExtraurbano, #consumoUrbano, #deposito, #emisiones, #longitud, #maletero, #marchas, #par, #peso, #puertas, #traccion, #transmision, #velocidad').prop('disabled', false);

            if (make && model && combustible && plazas && cambio && potencia) {
                // Fetch and populate color
                $.getJSON(`/data/colors`, function(data) {
                    data.forEach(function(color) {
                        // Translate Spanish color name to English using the mapping for display only
                        const englishColor = colorMapping[color];
                        // Keep the actual value in Spanish
                        $('#color').append($('<option>').text(englishColor).attr('value', color));
                    });
                });

                // Fetch and populate 0_100_kmh_s_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/0_100_kmh_s_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var speed = data[make_model_combustible_plazas_cambio_potencia];
                    $('#speed').append($('<option>').text(speed).attr('value', speed));
                    $('#speed').val(speed);  // Set hidden input value
                    console.log('0_100_kmh:', speed);  // Log the value
                });
                // Fetch and populate Altura_cm_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Altura_cm_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var altura = data[make_model_combustible_plazas_cambio_potencia];
                    $('#altura').append($('<option>').text(altura).attr('value', altura));
                    $('#altura').val(altura);  // Set hidden input value
                    console.log('altura:', altura);  // Log the value
                });
                // Fetch and populate Anchura_cm_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Anchura_cm_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var anchura = data[make_model_combustible_plazas_cambio_potencia];
                    $('#anchura').append($('<option>').text(anchura).attr('value', anchura));
                    $('#anchura').val(anchura);  // Set hidden input value
                    console.log('anchura:', anchura);  // Log the value
                });
                // Fetch and populate Autonomía_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Autonomía_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var autonomia = data[make_model_combustible_plazas_cambio_potencia];
                    $('#autonomia').append($('<option>').text(autonomia).attr('value', autonomia));
                    $('#autonomia').val(autonomia);  // Set hidden input value
                    console.log('autonomia:', autonomia);  // Log the value
                });
                // Fetch and populate Carrocería_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Carrocería_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var carroceria = data[make_model_combustible_plazas_cambio_potencia];
                    $('#carroceria').append($('<option>').text(carroceria).attr('value', carroceria));
                    $('#carroceria').val(carroceria);  // Set hidden input value
                    console.log('carroceria:', carroceria);  // Log the value
                });
                // Fetch and populate Cilindrada_cm3_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Cilindrada_cm3_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var cilindrada = data[make_model_combustible_plazas_cambio_potencia];
                    $('#cilindrada').append($('<option>').text(cilindrada).attr('value', cilindrada));
                    $('#cilindrada').val(cilindrada);  // Set hidden input value
                    console.log('cilindrada:', cilindrada);  // Log the value
                });
                // Fetch and populate Consumo_extraurbano_L_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Consumo_extraurbano_L_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var consumoExtraurbano = data[make_model_combustible_plazas_cambio_potencia];
                    $('#consumoExtraurbano').append($('<option>').text(consumoExtraurbano).attr('value', consumoExtraurbano));
                    $('#consumoExtraurbano').val(consumoExtraurbano);  // Set hidden input value
                    console.log('consumoExtraurbano:', consumoExtraurbano);  // Log the value
                });
                // Fetch and populate Consumo_mixto_L_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Consumo_mixto_L_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var consumoMixto = data[make_model_combustible_plazas_cambio_potencia];
                    $('#consumoMixto').append($('<option>').text(consumoMixto).attr('value', consumoMixto));
                    $('#consumoMixto').val(consumoMixto);  // Set hidden input value
                    console.log('Consumo Mixto:', consumoMixto);  // Log the value
                });
                // Fetch and populate Consumo_urbano_L_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Consumo_urbano_L_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var consumoUrbano = data[make_model_combustible_plazas_cambio_potencia];
                    $('#consumoUrbano').append($('<option>').text(consumoUrbano).attr('value', consumoUrbano));
                    $('#consumoUrbano').val(consumoUrbano);  // Set hidden input value
                    console.log('consumoUrbano:', consumoUrbano);  // Log the value
                });
                // Fetch and populate Depósito_L_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Depósito_L_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var deposito = data[make_model_combustible_plazas_cambio_potencia];
                    $('#deposito').append($('<option>').text(deposito).attr('value', deposito));
                    $('#deposito').val(deposito);  // Set hidden input value
                    console.log('deposito:', deposito);  // Log the value
                });
                // Fetch and populate Emisiones_de_CO2_grm3_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Emisiones_de_CO2_grm3_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var emisiones = data[make_model_combustible_plazas_cambio_potencia];
                    $('#emisiones').append($('<option>').text(emisiones).attr('value', emisiones));
                    $('#emisiones').val(emisiones);  // Set hidden input value
                    console.log('emisiones:', emisiones);  // Log the value
                });
                // Fetch and populate Longitud_cm_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Longitud_cm_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var longitud = data[make_model_combustible_plazas_cambio_potencia];
                    $('#longitud').append($('<option>').text(longitud).attr('value', longitud));
                    $('#longitud').val(longitud);  // Set hidden input value
                    console.log('longitud:', longitud);  // Log the value
                });
                // Fetch and populate Maletero_L_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Maletero_L_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var maletero = data[make_model_combustible_plazas_cambio_potencia];
                    $('#maletero').append($('<option>').text(maletero).attr('value', maletero));
                    $('#maletero').val(maletero);  // Set hidden input value
                    console.log('maletero:', maletero);  // Log the value
                });
                // Fetch and populate Marchas_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Marchas_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var marchas = data[make_model_combustible_plazas_cambio_potencia];
                    $('#marchas').append($('<option>').text(marchas).attr('value', marchas));
                    $('#marchas').val(marchas);  // Set hidden input value
                    console.log('marchas:', marchas);  // Log the value
                });
                // Fetch and populate Par_máximo_nm_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Par_máximo_nm_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var par = data[make_model_combustible_plazas_cambio_potencia];
                    $('#par').append($('<option>').text(par).attr('value', par));
                    $('#par').val(par);  // Set hidden input value
                    console.log('par:', par);  // Log the value
                });
                // Fetch and populate Peso_máximo_kg_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Peso_máximo_kg_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var peso = data[make_model_combustible_plazas_cambio_potencia];
                    $('#peso').append($('<option>').text(peso).attr('value', peso));
                    $('#peso').val(peso);  // Set hidden input value
                    console.log('peso:', peso);  // Log the value
                });
                // Fetch and populate Puertas_puertas_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Puertas_puertas_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var puertas = data[make_model_combustible_plazas_cambio_potencia];
                    $('#puertas').append($('<option>').text(puertas).attr('value', puertas));
                    $('#puertas').val(puertas);  // Set hidden input value
                    console.log('puertas:', puertas);  // Log the value
                }); // <-- Add this closing parenthesis and semicolon

                // Fetch and populate Tracción_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Tracción_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var traccion = data[make_model_combustible_plazas_cambio_potencia];
                    $('#traccion').append($('<option>').text(traccion).attr('value', traccion));
                    $('#traccion').val(traccion);  // Set hidden input value
                    console.log('traccion:', traccion);  // Log the value
                });
                // Fetch and populate Transmisión_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Transmisión_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var transmision = data[make_model_combustible_plazas_cambio_potencia];
                    $('#transmision').append($('<option>').text(transmision).attr('value', transmision));
                    $('#transmision').val(transmision);  // Set hidden input value
                    console.log('transmision:', transmision);  // Log the value
                });
                // Fetch and populate Velocidad_máxima_kmh_by_make_model_combustible_plazas_cambio_potencia
                $.getJSON(`/data/Velocidad_máxima_kmh_by_make_model_combustible_plazas_cambio_potencia`, function(data) {
                    var velocidad = data[make_model_combustible_plazas_cambio_potencia];
                    $('#velocidad').append($('<option>').text(velocidad).attr('value', velocidad));
                    $('#velocidad').val(velocidad);  // Set hidden input value
                    console.log('velocidad:', velocidad);  // Log the value
                });
            } // <-- Add this closing parenthesis and semicolon for the `$('#potencia').change(function() {` block
        });

        function resetDropdowns() {
            // Function to clear and disable all dropdowns except make
            $('#model').empty().append($('<option>').text('Select Model').attr('value', '')).prop('disabled', true);
            $('#combustible').empty().append($('<option>').text('Select Fuel').attr('value', '')).prop('disabled', true);
            $('#plazas').empty().append($('<option>').text('Select Seats').attr('value', '')).prop('disabled', true);
            $('#cambio').empty().append($('<option>').text('Select Transmission').attr('value', '')).prop('disabled', true);
            $('#potencia').empty().append($('<option>').text('Select Power').attr('value', '')).prop('disabled', true);
            $('#color').empty().append($('<option>').text('Select Color').attr('value', '')).prop('disabled', true);
            $('#kms').val('');
            $('#matriculacion').val('');
            $('#speed').empty().append($('<option>').text('Select speed').attr('value', '')).prop('disabled', true);
            $('#altura').empty().append($('<option>').text('Select altura').attr('value', '')).prop('disabled', true);
            $('#anchura').empty().append($('<option>').text('Select anchura').attr('value', '')).prop('disabled', true);
            $('#autonomia').empty().append($('<option>').text('Select autonomia').attr('value', '')).prop('disabled', true);
            $('#carroceria').empty().append($('<option>').text('Select carroceria').attr('value', '')).prop('disabled', true);
            $('#cilindrada').empty().append($('<option>').text('Select cilindrada').attr('value', '')).prop('disabled', true);
            $('#consumoExtraurbano').empty().append($('<option>').text('Select consumoExtraurbano').attr('value', '')).prop('disabled', true);
            $('#consumoMixto').empty().append($('<option>').text('Select consumoMixto').attr('value', '')).prop('disabled', true);
            $('#consumoUrbano').empty().append($('<option>').text('Select consumoUrbano').attr('value', '')).prop('disabled', true);
            $('#deposito').empty().append($('<option>').text('Select deposito').attr('value', '')).prop('disabled', true);
            $('#emisiones').empty().append($('<option>').text('Select emisiones').attr('value', '')).prop('disabled', true);
            $('#longitud').empty().append($('<option>').text('Select longitud').attr('value', '')).prop('disabled', true);
            $('#maletero').empty().append($('<option>').text('Select maletero').attr('value', '')).prop('disabled', true);
            $('#marchas').empty().append($('<option>').text('Select marchas').attr('value', '')).prop('disabled', true);
            $('#par').empty().append($('<option>').text('Select par').attr('value', '')).prop('disabled', true);
            $('#peso').empty().append($('<option>').text('Select peso').attr('value', '')).prop('disabled', true);
            $('#puertas').empty().append($('<option>').text('Select puertas').attr('value', '')).prop('disabled', true);
            $('#traccion').empty().append($('<option>').text('Select traccion').attr('value', '')).prop('disabled', true);
            $('#transmision').empty().append($('<option>').text('Select transmision').attr('value', '')).prop('disabled', true);
            $('#velocidad').empty().append($('<option>').text('Select velocidad').attr('value', '')).prop('disabled', true);
                
        }

        // On form submission
        $('form').submit(function(event) {
            event.preventDefault(); // Prevent the form from submitting through the browser

            // Enable all form elements before collecting data
            $('#model, #combustible, #plazas, #cambio, #potencia, #color, #kms, #matriculacion, #consumoMixto, #speed, #altura, #anchura, #autonomia, #carroceria, #cilindrada, #consumoExtraurbano, #consumoUrbano, #deposito, #emisiones, #longitud, #maletero, #marchas, #par, #peso, #puertas, #traccion, #transmision, #velocidad').prop('disabled', false);

             // Calculate Age from matriculacion
            var selectedMonthYear = $('#matriculacion').val();
            var matriculationDate = new Date(selectedMonthYear + '-01');
            var today = new Date();
            today.setHours(0, 0, 0, 0); // Normalize today to start of day
            var timeDiff = today.getTime() - matriculationDate.getTime(); // Difference in milliseconds
            var Age = Math.floor(timeDiff / (1000 * 3600 * 24)); // Convert milliseconds to days

            var formData = {
                make: $('#make').val(),
                model: $('#model').val(),
                'Combustible': $('#combustible').val(),
                'Plazas (plazas)': $('#plazas').val(),
                'Cambio': $('#cambio').val(),
                'Potencia (cv)': $('#potencia').val(),
                'Color': $('#color').val(),
                'Kms (km)': $('#kms').val(),
                'Age' : Age,
                'Vendedor': vendedor,  // since you have mentioned this variable exists
                'Consumo mixto (L)': $('#consumoMixto').val(),
                '0-100 km/h (s)': $('#speed').val(),
                'Altura (cm)': $('#altura').val(),
                'Anchura (cm)': $('#anchura').val(),
                'Autonomía': $('#autonomia').val(),
                'Carrocería': $('#carroceria').val(),
                'Cilindrada (cm3)': $('#cilindrada').val(),
                'Consumo extraurbano (L)': $('#consumoExtraurbano').val(),
                'Consumo urbano (L)': $('#consumoUrbano').val(),
                'Depósito (L)': $('#deposito').val(),
                'Emisiones de CO2 (gr/m3)': $('#emisiones').val(),
                'Longitud (cm)': $('#longitud').val(),
                'Maletero (L)': $('#maletero').val(),
                'Marchas': $('#marchas').val(),
                'Par máximo (nm)': $('#par').val(),
                'Peso máximo (kg)': $('#peso').val(),
                'Puertas (puertas)': $('#puertas').val(),
                'Tracción': $('#traccion').val(),
                'Transmisión': $('#transmision').val(),
                'Velocidad máxima (km/h)': $('#velocidad').val()
            };

            $.ajax({
                type: "POST",
                url: "/predict",
                data: JSON.stringify(formData),
                contentType: "application/json",
                // Inside the success function of the AJAX request
                success: function(response) {
                    console.log(response); // Log response from the server
                    var roundedPrediction = parseFloat(response.prediction).toFixed(2); // Round to 2 decimal places
                    $('#predictionResult').text('Current Value: ' + roundedPrediction + ' €');
                    // Adding a <p> element below predictionResult with a different style
                    $('#predictionResult').after('<p id="additionalInfo">*The values provided are based on Spanish market conditions as of May 2024.</p>');
                },


                error: function(error) {
                    console.error("Error on prediction:", error);
                    alert('Failed to get prediction');
                }
            });
        });
    });
    </script>
</head>
<body>
    <h1>How Much Is My Car Worth?</h1>
    <form>
        <div>
            <label for="make">Make:</label>
            <select id="make"><option>Select Make</option></select>
        </div>
        <div>
            <label for="model">Model:</label>
            <select id="model"><option>Select Model</option></select>
        </div>
        <div>
            <label for="combustible">Fuel:</label>
            <select id="combustible"><option>Select Fuel</option></select>
        </div>
        <div>
            <label for="plazas">Seats:</label>
            <select id="plazas"><option>Select Seats</option></select>
        </div>
        <div>
            <label for="cambio">Transmission:</label>
            <select id="cambio"><option>Select Transmission</option></select>
        </div>
        <div>
            <label for="potencia">Power (HP):</label>
            <select id="potencia"><option>Select Power</option></select>
        </div>
        <div>
            <label for="color">Color:</label>
            <select id="color" disabled><option>Select Color</option></select>
        </div>
        <div>
            <label for="kms">Mileage (Km):</label>
            <input type="number" id="kms" min="0" max="2000000" disabled>
        </div>
        <div>
            <label for="matriculacion">Registration Date:</label>
            <input type="month" id="matriculacion" disabled>
        </div>
        <!-- Hidden fields -->
        <input type="hidden" id="consumoMixto" name="Consumo mixto (L)">
        <input type="hidden" id="speed" name="0-100 km/h (s)">
        <input type="hidden" id="altura" name="Altura (cm)">
        <input type="hidden" id="anchura" name="Anchura (cm)">
        <input type="hidden" id="autonomia" name="Autonomía">
        <input type="hidden" id="carroceria" name="Carrocería">
        <input type="hidden" id="cilindrada" name="Cilindrada (cm3)">
        <input type="hidden" id="consumoExtraurbano" name="Consumo extraurbano (L)">
        <input type="hidden" id="consumoUrbano" name="Consumo urbano (L)">
        <input type="hidden" id="deposito" name="Depósito (L)">
        <input type="hidden" id="emisiones" name="Emisiones de CO2 (gr/m3)">
        <input type="hidden" id="longitud" name="Longitud (cm)">
        <input type="hidden" id="maletero" name="Maletero (L)">
        <input type="hidden" id="marchas" name="Marchas">
        <input type="hidden" id="par" name="Par máximo (nm)">
        <input type="hidden" id="peso" name="Peso máximo (kg)">
        <input type="hidden" id="puertas" name="Puertas (puertas)">
        <input type="hidden" id="traccion" name="Tracción">
        <input type="hidden" id="transmision" name="Transmisión">
        <input type="hidden" id="velocidad" name="Velocidad máxima (km/h)">

        <button type="submit">Submit</button>
        <button type="button" class="reset">Reset</button>
    </form>
    <span id="predictionResult"></span>
</body>
